<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>antd test</title>
		<link rel="stylesheet" href="/m/static/font/iconfont.css">
    <script src="/m/static/font/iconfont.js"></script>
	</head>
	<body>
		<div id='page_index'></div>
		<!-- <script src="/m/static/js/device.js"></script>
		<script src="/m/static/js/rem.js"></script> -->
	</body>
</html>