/* index 通用 */
.index-wrap{
    width: 800px;
    margin: 0 auto;
    &>h3{
        font-size: 30px;
        text-align: center;
    }
}
.nav-index{
    width: 100%;
    .nav-item{
        display: inline-block;
        vertical-align: top;
        padding: 0 20px;
        margin-right: 10px;
        line-height: 30px;
        background-color: #999;
         &.active, &:hover{
            color: #fff;
            background-color: #444;
        }
    }
}

/* login */
.login-wrap{
    
}
.login-info{
    padding-top: 20px;
    button{
        padding: 6px 10px;
        &:hover{
            cursor: pointer;
        }
    } 
}
.login-item{
    position: relative;
    display: block;
    padding-left: 80px;
    padding-bottom: 20px;
    line-height: 30px;
    h4{
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        text-align: right;
    }
    input{
        display: block;
        box-sizing: border-box;
        height: 30px;
        margin-left: 20px;
        border: 1px solid #999;
    }
}