/* index 通用 */
.index-wrap{
    width: 800px;
    margin: 0 auto;
    &>h3{
        font-size: 30px;
        text-align: center;
    }
}
.nav-index{
    position: relative;
    width: 100%;
    padding: 10px 0;
    .nav-item{
        color: #fff;
        display: inline-block;
        vertical-align: top;
        padding: 0 20px;
        margin-right: 10px;
        line-height: 30px;
        background-color: #999;
         &.active, &:hover{
            background-color: #444;
        }
    }
    .nav-login{
        position: absolute;
        right: 0;
        &:hover{
            cursor: pointer;
        }
    }
}

/* login */
.login-wrap{
    
}
.login-info{
    padding-top: 20px;
    button{
        padding: 6px 10px;
        &:hover{
            cursor: pointer;
        }
    } 
}
.login-item{
    position: relative;
    display: block;
    padding-left: 80px;
    padding-bottom: 20px;
    line-height: 30px;
    h4{
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        text-align: right;
    }
    input{
        display: block;
        box-sizing: border-box;
        height: 30px;
        margin-left: 20px;
        border: 1px solid #999;
    }
}

/* aside */
.template-area{
    padding-left: 200px;
}
.aside-container{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-left: -200px;
    line-height: 30px;
    .aside-item{
        padding-left: 20px;
        border-bottom: 1px solid #999;
        &:hover{
            cursor: pointer;
            color: #fff;
            background-color: #777;
        }
    }
}