/* index 通用 */
section {
    padding-top: 20px;
}
.index-wrap{
    &>h3{
        font-size: 30px;
        text-align: center;
    }
}
.nav-index{
    position: relative;
    padding: 20px 20px 0 20px;
    box-shadow: 0 10px 20px #ddd;
    .nav-item{
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        line-height: 40px;
        padding: 0 20px;
        box-sizing: border-box;
        &.active, &:hover{
            color: #56aaff;
            border-bottom: 2px solid #56aaff;
        }
    }
    .nav-login{
        position: absolute;
        right: 0;
        &:hover{
            cursor: pointer;
        }
    }
}

/* login */
.login-info{
    padding-top: 20px;
    button{
        padding: 6px 10px;
        &:hover{
            cursor: pointer;
        }
    } 
}
.login-item{
    position: relative;
    display: block;
    padding-left: 80px;
    padding-bottom: 20px;
    line-height: 30px;
    h4{
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        text-align: right;
    }
    input{
        display: block;
        box-sizing: border-box;
        height: 30px;
        margin-left: 20px;
        border: 1px solid #999;
    }
}

/* aside */
.aside-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    line-height: 30px;
    .aside-container{
        border-right: 1px solid #999;
    }
    .aside-item{
        span{
            display: block;
            padding-left: 20px;
            border-bottom: 1px solid #999;
            &:hover{
                cursor: pointer;
                color: #fff;
                background-color: #777;
            }
        }
    }
    .aside-info{
        height: 100px;
        background-color: #ccc;
    }
}
/* about */
.about-wrap{
    padding-top: 20px;
    margin: 0 auto;
    .layout{
        position: relative;
        .react-grid-item{
            background-color: rgba(0,0,0,0.5);
            transition: all .2s;
        }
        .react-draggable-dragging{
            transition: none;
        }
        .react-grid-placeholder{
            background-color: rgba(0,0,0,0.2);
        }
        .react-resizable-handle{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 10px;
            height: 10px;
            &:hover{
                cursor: se-resize;
            }
        }
        .item{
            display: inline-block;
            width: 80%;
            height: 80%;
        }
    }
}
.template-area{
    position: relative;
    padding-left: 200px;
}
.grid-container{
    position: relative;
    width: 100%;
    div{
        position: absolute;
        width: 50px;
        height: 50px;
    }
}
.counter {
    button {
        width: 12px;
        height: 12px;
        margin-left: 20px;
        margin-top: 12px;
        cursor: pointer;
    }
}